{% load static %}
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/review/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/review/style.css' %}"
    />
    <title>게에시이파안</title>
  </head>
  <body>
    {% block content %} 
    {% endblock %}
  </body>
</html>