<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'b4/css/loading.css' %}?after">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="camera_img"></div>
        <div class="str"><h5 class="text"></h5></div>
        <div class="progress-wrap">
            <div class="progress-bar"></div>
        </div>
    </div>
    
</body>
<script src="{% static 'b4/js/loading.js' %}?after"></script>
</html>