@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'DOSGothic';
    margin: 0;
    padding: 0;
    
    /* background-color: aqua; */
}


body {
    height:100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.main {
    background-color: #ded9c6;
    width: 30rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.title {
    color: rgb(118, 152, 255);
    font-size: 3rem;
    padding-top: 2rem;
    /* padding-bottom: 1rem; */
}
/* .information {
    height:1rem;
    width: 1rem;
} */
img {
    padding: 1.5rem;
    width: 12.8rem;
    height: 16.4rem;

    background-size: cover;
  }

.bg_img {
    margin: 1.5rem;
    width: 12.8rem;
    height: 16.4rem;
    background-color: rgb(255, 255, 255);
    /* background-size: cover; */
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.color_btn1 {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
    height: 2.5rem;
    padding-bottom: 0.5rem;
}
.color_btn2 {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
    height: 2.5rem;
}

.color {
    display: none;
}






.next {
    color: rgb(144, 148, 160);
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 6px solid rgb(144, 148, 160);
}