@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'DOSGothic';
    margin: 0;
    padding: 0;
    
    /* background-color: aqua; */
}


body {
    height:100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.main {
    background-color: rgb(33, 34, 43);
    width: 30rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.title {
    color: rgb(144, 148, 160);
    font-size: 3rem;
    padding-top: 2rem;
    /* padding-bottom: 1rem; */
}
/* .information {
    height:1rem;
    width: 1rem;
} */
img {
    padding: 1.5rem;
    width: 12.8rem;
    height: 16.4rem;

    background-size: cover;
  }

.bg_img {
    margin: 1.5rem;
    width: 12.8rem;
    height: 16.4rem;
    background-color: rgb(139, 139, 139);
    /* background-size: cover; */
}

.color_btn1 {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
    height: 2.5rem;
    padding-bottom: 0.5rem;
}
.color_btn2 {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 2.5rem 2.5rem 2.5rem 2.5rem 2.5rem;
    height: 2.5rem;
}

.i1 {
    background-color: rgb(255, 123, 123);
}

.i2 {
    background-color: rgb(255, 198, 123);
}

.i3 {
    background-color: rgb(187, 255, 123);
}

.i4 {
    background-color: rgb(123, 143, 255);
}

.i5 {
    background-color: rgb(191, 123, 255);
}

.i6 {
    background-color: rgb(255, 123, 211);
}

.i7 {
    background-color: rgb(68, 68, 68);
}

.i8 {
    background-color: rgb(255, 255, 255);
}

.i9 {
    background-color: rgb(94, 41, 11);
}

.i10 {
    background-color: rgb(0, 5, 77);
}

.next {
    color: rgb(144, 148, 160);
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 6px solid rgb(144, 148, 160);
}