@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'DOSGothic';
    margin: 0;
    padding: 0;
}

body {
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #ded9c6;
    width: 100%;
    max-width: 30rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.camera_img {
    width: 8em;
    height: 6rem;
    background-size : cover;
    background-image: url('../img/icon/camera.png')
}

.str {
    width: 800px;
    padding: 20px;
    height: 5rem;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h5 {
    font-size: 2.2rem;
    margin-left: .6rem;
}



.progress-wrap {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    background: rgb(255, 255, 255);

}

.progress-bar  {
    width: 100%;
    height: 100%;
    
    background: rgb(80, 120, 241);
    overflow: hidden;
    /* position: relative; */
    animation: loading 15s linear;
}

 
@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}