@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'DOSGothic';
    margin: 0;
    padding: 0;
    
    /* background-color: aqua; */
}

body {
    height:100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.main {
    background-color: rgb(33, 34, 43);
    width: 100%;
    max-width: 30rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    /* justify-content: center; */
}

.str {
    width: 800px;
    padding: 20px;
    height: auto;

    font-size: 40px;

    color: #fff;
    font-weight: bold;
    /* animation: typing 5s steps(31) infinite; */
}

/* @keyframes typing{
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
} */



.progress-wrap {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    background: #ddd;

}

.progress-bar  {
    width: 100%;
    height: 100%;
    
    background: #f80;
    overflow: hidden;
    /* position: relative; */
    animation: loading 15s linear;
}

 
@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}