@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'DOSGothic';
    margin: 0;
    padding: 0;
    
    /* background-color: aqua; */
}
/* html {
     height:100%; 
} */

body {
    height:100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.main {
    /* background-color: rgb(224, 201, 156); */
    max-width: 30rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-image: url('../img/icon/start_bg.png'); */
    /* justify-content: center; */
}

.bg {
    display: flex;
    height: 45rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-position: top;
    background-size : cover;
    background-image: url('../img/icon/start_bg.png')
}

.title {
    background-color: rgba(255, 255, 255, 0.55);
    color: rgb(80, 120, 241);
    font-size: 3rem;
    
    padding: 1.5rem;
    /* padding-top: 3rem; */
    font-weight: bold;
    text-shadow: -4px 0 rgb(54, 91, 202), 0 4px rgb(54, 91, 202), 4px 0 rgb(54, 91, 202), 0 -4px rgb(54, 91, 202);
}

.inf_box {
    position:absolute;
    width: 100%;
    max-width: 30rem;
    top: 9rem;
    display: flex;
    justify-content: right;
    padding: 1rem;
}

.information {
    height:2rem;
    width: 2rem;
    margin-right: 1rem;
    background-image: url('../img/icon/popup_icon1.png');
}

.information:hover {
    height:2rem;
    width: 2rem;
    margin-right: 1rem;
    background-image: url('../img/icon/popup_icon.png');
}


.information span{
    display: none;
}

.information:hover span{
    border: 4px solid rgb(0, 0, 0);
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    width: 20rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: justify;
    

}

.input_img {
    width: 12.8rem;
    height: 16.4rem;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1rem;
}


.video {
    /* margin: 1.5rem; */
    width: 12.8rem;
    height: 16.4rem;
    object-fit: cover;
    position:absolute;  
    /* background-size: cover; */
}

.guideline {
    width: 12.8rem;
    height: 16.4rem;
    position:absolute;  
    background-size : cover;
    background-image: url('../img/icon/guideline.png')
}

/* .share_btn1 {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 2.5rem 2.5rem 2.5rem;
    height: 2.5rem;
    padding-bottom: 0.5rem;
} */

.pop_up_bg {
    background-color:rgba(0,0,0,.3);
    position:fixed;         
    top:0;
    left:50%;
    transform: translate(-50%, 0%);
    /* right:50%; */
    bottom:0;               
    display:none;
    justify-content:center; 
    /* vertical-align: bottom; */
    align-items:flex-end;
    width: 100%;
    max-width: 30rem;
}



.pop_up {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    /* justify-content:center;  */
    align-items: center;
    padding: 1rem;
    border-radius: 15px 15px 0 0;
}

.pop_up_name {
    padding: 1rem;
    font-size: 2rem;
    font-style: bold;
    width: 100%;
    text-align: left;
}

.btn_box {
    display: grid;
    padding-top: 0.5rem;
    column-gap: 3rem;
    grid-template-columns: 9rem 9rem;
    height: 9rem;
}


.camera {
    background-color: rgb(139, 139, 139);
}

.gallery {
    background-color: rgb(255, 145, 101);
}




.photo_bnt {
    display: grid;
    margin-top: 2rem;
    column-gap: 3rem;
    grid-template-columns: 6rem 6rem;
    height: 2.5rem;
    
}

.pixel {
    position: absolute;
    clip-path: polygon(0% 8px, 4px 8px, 4px 4px, 8px 4px, 8px 0%, 
    calc(100% + -8px) 0%, calc(100% + -8px) 4px, calc(100% + -4px) 4px, calc(100% + -4px) 8px, 100% 8px, 
    100% calc(100% + -8px), calc(100% + -4px) calc(100% + -8px), calc(100% + -4px) calc(100% + -4px), calc(100% + -8px) calc(100% + -4px), calc(100% + -8px) 100%, 
    8px 100%, 8px calc(100% + -4px), 4px calc(100% + -4px), 4px calc(100% + -8px), 0% calc(100% + -8px));
}

.camera_box{
    display: flex;
}

.gallery_box {
    display: flex;
}

.camera_shadow {
    width: 6rem;
    height: 2.5rem;
    background-color: rgb(53, 53, 53);
    transform: translate(0, 8px);
}


.camera_btn {
    /* content: '재촬영'; */
    color: rgb(53, 53, 53);
    width: 6rem;
    height: 2.5rem;
    background-color: rgb(139, 139, 139);
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

.camera_btn:active {
    transform: translate(0, 8px);
}


.gallery_shadow {
    width: 6rem;
    height: 2.5rem;
    background-color: rgb(184, 91, 55);
    transform: translate(0, 8px);
}

.gallery_btn {
    color: rgb(184, 91, 55);
    width: 6rem;
    height: 2.5rem;
    background-color: rgb(255, 145, 101);
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

.gallery_btn:active {
    transform: translate(0, 8px);
}

.start_box{
    display: flex;
    width: 100%;
    height: 2.5rem;
    margin-top: 1.5rem;
}

.start {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    color: rgb(163, 20, 20);
    /* text-shadow:1px 1px rgb(255, 113, 113), -1px -1px rgb(99, 0, 0); */
    font-size: 1rem;
    font-weight: bold;
    width: 9rem;
    height: 2.5rem;
    /* margin: 1rem; */
    padding: 0.5rem;
    /* border: 4px solid rgb(144, 148, 160); */
    border: none;
    background-color: rgb(255, 44, 44);
    /* clip-path: polygon(0% 15%, 15% 15%, 15% 0%, calc(100% + -4px) 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%); */
    
}

.start:active {
    transform: translate(-50%, 8px);
}

.start_shadow {
    position: absolute;
    left: 50%;
    /* top: 4px; */
    width: 9rem;
    height: 2.5rem;
    transform: translate(-50%, 8px);
    background-color: rgb(163, 20, 20);
    /* clip-path: polygon(0% 4px, 4px 4px, 4px 0%, calc(100% + -4px) 0%, calc(100% + -4px) 4px, 100% 4px, 100% calc(100% + -4px), 
    calc(100% + -4px) calc(100% + -4px), calc(100% + -4px) 100%, 4px 100%, 4px calc(100% + -4px), 0% calc(100% + -4px)); */
}
