@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'DOSGothic';
    margin: 0;
    padding: 0;
    
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    max-width: 30rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(128, 87, 29);
}

.bg {
    display: flex;
    height: 45rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-position: top;
    background-size: cover;
    background-image: url('../img/icon/start_bg.png')
}

.title {
    background-color: rgba(255, 255, 255, 0.55);
    color: rgb(80, 120, 241);
    font-size: 3rem;
    padding: 1.5rem;
    font-weight: bold;
    text-shadow: -4px 0 rgb(54, 91, 202), 0 4px rgb(54, 91, 202), 4px 0 rgb(54, 91, 202), 0 -4px rgb(54, 91, 202);
}

.inf_box {
    position: absolute;
    width: 100%;
    max-width: 30rem;
    top: 9rem;
    display: flex;
    justify-content: right;
    padding: 1rem;
}

.information {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    background-image: url('../img/icon/popup_icon1.png');
}

.information:hover {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    background-image: url('../img/icon/popup_icon.png');
}


.information .text {
    display: none;
}

.information:hover .text {
    border: 4px solid rgb(65, 65, 65);
    display: block;
    background-color: rgb(250, 250, 250);
    padding: 1rem;
    width: 20rem;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: justify;
    line-height: 120%;
    letter-spacing: -1px;
}

ul {
    padding-left: 2rem;
    font-weight: bold;
}

.input_img {
    width: 12.8rem;
    height: 16.4rem;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1rem;
}


.video {
    width: 12.8rem;
    height: 16.4rem;
    object-fit: cover;
    position: absolute;
}

.guideline {
    width: 12.8rem;
    height: 16.4rem;
    position: absolute;
    background-size: cover;
    background-image: url('../img/icon/guideline.png')
}

img {
    width: 12.8rem;
    height: 16.4rem;
    object-fit: cover ;
    /* background-size: auto ; */
    position: absolute;
}



.photo_bnt {
    display: grid;
    margin-top: 2rem;
    column-gap: 3rem;
    grid-template-columns: 6rem 6rem;
    height: 2.5rem;

}

.pixel {
    position: absolute;
    clip-path: polygon(0% 8px, 4px 8px, 4px 4px, 8px 4px, 8px 0%,
            calc(100% + -8px) 0%, calc(100% + -8px) 4px, calc(100% + -4px) 4px, calc(100% + -4px) 8px, 100% 8px,
            100% calc(100% + -8px), calc(100% + -4px) calc(100% + -8px), calc(100% + -4px) calc(100% + -4px), calc(100% + -8px) calc(100% + -4px), calc(100% + -8px) 100%,
            8px 100%, 8px calc(100% + -4px), 4px calc(100% + -4px), 4px calc(100% + -8px), 0% calc(100% + -8px));
}

.camera_box {
    display: flex;
}

.gallery_box {
    display: flex;
}

.camera_shadow {
    width: 6rem;
    height: 2.5rem;
    background-color: rgb(53, 53, 53);
    transform: translate(0, 8px);
}


.camera_btn {
    color: rgb(53, 53, 53);
    width: 6rem;
    height: 2.5rem;
    background-color: rgb(139, 139, 139);
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

.camera_btn:active {
    transform: translate(0, 8px);
}


.gallery_shadow {
    width: 6rem;
    height: 2.5rem;
    background-color: rgb(184, 91, 55);
    transform: translate(0, 8px);
}

.gallery_btn {
    color: rgb(184, 91, 55);
    width: 6rem;
    height: 2.5rem;
    background-color: rgb(255, 145, 101);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery_btn:active {
    transform: translate(0, 8px);
}

.start_box {
    display: flex;
    width: 100%;
    height: 2.5rem;
    margin-top: 1.5rem;
}

.start {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    color: rgb(163, 20, 20);
    font-size: 1rem;
    font-weight: bold;
    width: 9rem;
    height: 2.5rem;
    padding: 0.5rem;
    border: none;
    background-color: rgb(255, 44, 44);


}

.start:active {
    transform: translate(-50%, 8px);
}

.start_shadow {
    position: absolute;
    left: 50%;
    width: 9rem;
    height: 2.5rem;
    transform: translate(-50%, 8px);
    background-color: rgb(163, 20, 20);
}


.main2 {
    background-color: #ded9c6;
    width: 100%;
    max-width: 30rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.display-none {
    /*감추기*/
    display: none;
}

.camera_img {
    width: 8em;
    height: 6rem;
    background-size: cover;
    background-image: url('../img/icon/camera.png')
}

.str {
    width: 100%;
    padding: 20px;
    height: 5rem;
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

h5 {
    font-size: 2.2rem;
    margin-left: .6rem;
}



.progress-wrap {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    background: rgb(255, 255, 255);

}

.progress-bar {
    width: 100%;
    height: 100%;

    background: rgb(80, 120, 241);
    overflow: hidden;
    animation: loading 6s linear;
}


@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}