@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'DOSGothic';
    margin: 0;
    padding: 0;
    
    /* background-color: aqua; */
}
/* html {
     height:100%; 
} */

body {
    height:100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.main {
    /* background-color: rgb(224, 201, 156); */
    max-width: 30rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-image: url('../img/icon/start_bg.png'); */
    /* justify-content: center; */
}

.bg {
    display: flex;
    height: 45rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-position: top;
    background-size : cover;
    background-image: url('../img/icon/start_bg.png')
}

.title {
    background-color: rgba(255, 255, 255, 0.55);
    color: rgb(80, 120, 241);
    font-size: 3rem;
    padding-top: 2rem;
    padding: 1rem;
    font-weight: bold;
    text-shadow: -4px 0 rgb(54, 91, 202), 0 4px rgb(54, 91, 202), 4px 0 rgb(54, 91, 202), 0 -4px rgb(54, 91, 202);
}
.inf_box {
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 1rem;
}

.information {
    height:2rem;
    width: 2rem;
    margin-right: 1rem;
    background-image: url('../img/icon/popup_icon.png');
}

/* .information{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    width: 20rem;
} */

/* .information:hover{
    cursor:help;
    position: relative;
} */

.information span{
    display: none;
}

.information:hover span{
    border: 4px solid rgb(0, 0, 0);
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    width: 20rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    

}

.input_img {
    /* margin: 1.5rem; */
    width: 12.8rem;
    height: 16.4rem;
    background-color: rgb(139, 139, 139);
    /* background-size: cover; */
  }

/* .share_btn1 {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 2.5rem 2.5rem 2.5rem;
    height: 2.5rem;
    padding-bottom: 0.5rem;
} */

.pop_up_bg {
    background-color:rgba(0,0,0,.3);
    position:fixed;         
    top:0;
    left:50%;
    transform: translate(-50%, 0%);
    /* right:50%; */
    bottom:0;               
    display:none;
    justify-content:center; 
    /* vertical-align: bottom; */
    align-items:flex-end;
    width: 100%;
    max-width: 30rem;
}



.pop_up {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    /* justify-content:center;  */
    align-items: center;
    padding: 1rem;
    border-radius: 15px 15px 0 0;
}

.pop_up_name {
    padding: 1rem;
    font-size: 2rem;
    font-style: bold;
    width: 100%;
    text-align: left;
}

.btn_box {
    display: grid;
    padding-top: 0.5rem;
    column-gap: 3rem;
    grid-template-columns: 9rem 9rem;
    height: 9rem;
}


.camera {
    background-color: rgb(139, 139, 139);
}

.gallery {
    background-color: rgb(255, 145, 101);
}

.start {
    color: rgb(144, 148, 160);
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 4px solid rgb(144, 148, 160);
    background-color: white;
}